<html lang='fr'>
  <body style='font-family: Arial, sans-serif; color: #111827; line-height: 1.5'>
    <p>Bonjour {{firstName}},</p>
    <p>Une reinitialisation de votre mot de passe TaxiKiwi a ete demandee.</p>
    <p>
      <a href='{{resetUrl}}' style='color: #166534; font-weight: 700'>
        Choisir un nouveau mot de passe
      </a>
    </p>
    <p>Ce lien expire le {{expiresAt}} et ne peut etre utilise qu'une seule fois.</p>
    <p>Ignorez cet email si vous n'etes pas a l'origine de cette demande.</p>
    <p>L'equipe TaxiKiwi</p>
  </body>
</html>